.col-md-12 {
    background-color: #406051;
  }

#map {
  height: 600px;
  width: 100%;
  padding: 10px;
  color: white;
  margin: 0;
  }

.summary_map {
    background-color: #2CB272;
    padding: 40px;
  }

.col-md-5{
  background-color: #2CB272;
  padding: 20px;
  }