/* SVG styling */
svg {
	width: 1440px;
	height: 450px;
}
#chart svg, #chart3 svg {
	height: 540px;
}
#chart4 svg {
	height: 470px;
}
path {
	stroke: #777;
	stroke-width: 0.1px;
}

.labels {
	fill: #555;
	font-weight: 200;
	letter-spacing: -1px;
}
.labels.segment {
	font-size: 17px;
}

#chart3 .labels {
	fill: #555;
}