.header {
    background-color: #406051;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #406051;
    color: #406051;
    text-align: center;
  }
#map {
  height: 640px;
  width: 100%;
  /* padding: 10px; */
  /* color: white; */
  margin: 0;
  }

.summary_map {
    background-color: #2CB272;
    padding: 80px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
