<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page!</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Our CSS -->
    <link rel="stylesheet" href="static/style.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Leaflet JavaScript (might need to go in body) -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    
    
</head>
<body>
    <!-- Our JavaScript -->
    <!-- <script type="text/javascript" src="static/js/logic_2.js"></script> -->
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 header">
            <div class="navbar">
                <h2><a class="index" href="{{ url_for('home') }}">Wind Energy in America</a></h2>
                <div>
                    <a class="html" href="{{ url_for('wind_speed_changes') }}">Velocity Changes</a>
                    <a class="html" href="{{ url_for('wind_direction_changes') }}">Directional Changes</a>
                    <a class="html" href="{{ url_for('slider') }}">Site Quality</a>
                    <!-- Will need a 4th web page that opens when  city is clicked -->
                </div>
                <!-- <div class="dropdown">

                </div> -->

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 summary_map">
            <div class="box-2">
                <h1 class="text-center">Average Wind Speed in Major American Cities</h1>
                    <div id="map">
                        <!-- <script src="script.js"></script> -->
                        <script type="text/javascript" src="static/config.js"></script>
                        <script type="text/javascript" src="static/logic_2.js"></script>
                    </div>  
            </div>
        </div>
    </div>
    <div class="footer text-muted">
        Rice University Data Science Boot Camp (2020)
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>