<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Circular heat chart example</title>
	<link rel="stylesheet" href="slider_style.css">
	<link rel="stylesheet" href="svg.css">
	<link rel="stylesheet" href="https://yandex.st/highlightjs/7.3/styles/default.min.css">
</head>

<body>
	<section>
		<h1>Circular heat chart</h1>
		<div class="chart" id="chart"></div>
	</section>
	<script type= "text/javascript">var city = {{ city }}</script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="{{ url_for('static', filename='circularHeatChart.js') }}"></script>
	<script src="{{ url_for('static', filename='new_logic_heatMap.js') }}"></script>

	<!-- <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
	<script>
		hljs.initHighlightingOnLoad();
	</script> -->
</body>


</html>